name: Run cr

on:
  workflow_dispatch

permissions:
  contents: write

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build And Run
        working-directory: ArchT3
        run: | 
          cargo build --verbose
          cargo run --verbose

      - name: Commit and Push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(data): auto-update swarm initialization data"
          file_pattern: src/memory/knowledge/**
          #file_pattern: src/world_1d_perfide.json
          branch: ${{ github.ref_name }}